* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
  font-family: sans-serif;
}
main{
     height: 100%;
  width: 100%;
  background: linear-gradient( to top  left , rgb(87, 43, 131) , rgb(175, 195, 199));
  display: flex;
  justify-content: center;
  align-items: center;


}

.box{
    height: fit-content;
    width: 600px;
    background: rgb(255, 254, 254);
    border-radius: 5px;
}
h1{
    font-size: 30px;
    margin-bottom: 10px;
    margin-top: 10px;
    text-transform: capitalize;
    padding: 10px;
}
.llinputs{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
    
}
input{
    background: rgb(255, 255, 255);
    padding: 5px;
    margin-top: 5px;
    border-radius: 5px;
    border:  2px solid rgb(172, 170, 165);
}

.elem{
    width: 250px;
    /* background: #2ba011; */
    padding: 10px ;
}
p{
    font-size: 15px;
   
    text-transform: capitalize;
    padding: 10px;
}

.redio{
    display: flex;
    justify-content: space-evenly;
}
.btn{
   display: flex;
   justify-content: center;
   margin-top: 30px;

}
button{
    /* width: fit-content; */
    padding: 10px 200px;
    margin-bottom: 30px;
     background: linear-gradient( to top  left , rgb(125, 87, 164) , rgb(175, 195, 199));
     border: none;
     border-radius: 4px;
}